<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<table border="1">
  <thead>
    <th>아이디</th>
    <th>유저 이름</th>
    <th>패스워드</th>
    <th>나이</th>
    <th>지역</th>
  </thead>

  <tbody id="body">
  </tbody>
</table>

<!--<button id="button">ddd</button>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>-->
<script>
  window.addEventListener('load', async () => {
    // document.getElementById('button').addEventListener("click", async function () {
      const members = await(await fetch(`${location.origin}/api/members/`)).json();
    // const members = (await axios.get(`${location.origin}/api/members/`)).data;
      console.log(members)
      document.getElementById('body').innerHTML = members.map(member => `
      <tr>
       <td> ${member.id}</td>
       <td> ${member.username}</td>
       <td> ${member.password}</td>
       <td> ${member.age}</td>
       <td> ${member.address}</td>
      </tr>
      `).join('')
    // })
  })
</script>

</body>
</html>